{
  "STRIPE_SECRET_KEY": {
    "WEBHOOK_URL_1": "WEBHOOK_SIGNING_SECRET_1",
    "WEBHOOK_URL_2": "WEBHOOK_SIGNING_SECRET_2",
  },
  "ANOTHER_STRIPE_SECRET_KEY": {
    "WEBHOOK_URL_3": "WEBHOOK_SIGNING_SECRET_3"
  }
}
